{% extends 'base.html' %}
{% block title %}View Project{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1>Project {{ project.name }}</h1>
                    <div>
                        {% if user in project.super_users.all %}
                            <a href="{% url 'edit_project' project.uuid %}" class="btn btn-primary mr-2">Edit</a>
                            <a href="{% url 'create_invitation' project.uuid %}" class="btn btn-secondary mr-2">Add user</a>
                            <a href="{% url 'delete_project' project.uuid %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                        <a href="{% url 'create_task' project.uuid %}" class="btn btn-success">Add Task</a>
                    </div>
                </div>
                <p>Description: {{ project.description }}</p>
                <p>Started: {% if project.started %}Yes{% else %}No{% endif %}</p>
                <p>Created By: {{ project.created_by.email }}</p>
                <br>
             {% if tasks %}
                <h3>Tasks for This Project:</h3>
                <ul>
                    {% for task in tasks %}
                        <li>
                            <a href="#" style="display: none;">{{ task.name }}</a>
                            <span>{{ task.story_points }}</span>
                            <a href="{% url 'view_task' task.uuid %}" class="float-right">Details</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tasks yet for this project.</p>
            {% endif %}
                <br>

                {% if project.users.all %}
                    <h3>Users Assigned to This Project:</h3>
                    <ul>
                        {% for user in project.users.all %}
                            <li>{{ user.email }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if user in project.super_users.all %}
                    <h3>Super Users:</h3>
                    <ul>
                        {% for super_user in project.super_users.all %}
                            <li>{{ super_user.email }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if invitations and user in project.super_users.all %}
                    <h3>Pending invitations:</h3>
                    <ul>
                        {% for invitation in invitations %}
                            <li>{{ invitation.target_user_email }}, sent on {{ invitation.date_created }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <a href="{% url 'list_projects' %}" class="btn btn-secondary mt-3">Back to Projects</a>
            </div>
        </div>
    </div>
{% endblock %}

<script>
    document.getElementById('deleteBtn').addEventListener('click', function () {
        if (confirm('Are you sure you want to delete this project?')) {
            // Deletion logic placeholder
            alert('Project deleted.');
        }
    });
</script>
