{% extends 'base.html' %}
{% block title %}View Project{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5">
   <div class="row">
      <div class="col-md-8 offset-md-2">
         <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="d-flex align-items-center">
               {% if project.started %}
               <span class="bi bi-check-circle-fill text-success"></span>
               {% else %}
               <span class="bi bi-x-circle-fill text-danger"></span>
               {% endif %}
               Project {{ project.name }}
            </h1>
            <div>
               {% if user in project.super_users.all %}
                <a href="{% url 'list_projects' %}" class="btn btn-secondary mr-2">Back to Projects</a>
                <a href="{% url 'edit_project' project.uuid %}" class="btn btn-primary mr-2">Edit</a>
                <a href="{% url 'delete_project' project.uuid %}" onclick="return confirm('Are you sure?');" class="btn btn-danger mr-2">Delete</a>
               {% endif %}
            </div>
         </div>
          <div class="mt-4">
              <div class="col">
                  <h3 class="toggle-section" data-toggle-target="#collapseDetails" style="cursor: pointer;">Details</h3>
              </div>
              <div class="collapse mt-3 show" id="collapseDetails">

         <div class="card mb-3">
            <div class="card-body">
               <h5 class="card-title">Description</h5>
               <p class="card-text">{{ project.description }}</p>
            </div>
         </div>
         <div class="card mb-3">
            <div class="card-body">
               <h5 class="card-title">Status</h5>
               <p class="card-text {% if project.started %}text-success{% else %}text-danger{% endif %}">
                  {% if project.started %}Started{% else %}Not Started{% endif %}
               </p>
            </div>
         </div>
         <div class="card mb-3">
            <div class="card-body">
               <h5 class="card-title">Created By</h5>
               <p class="card-text">{{ project.created_by.email }}</p>
            </div>
         </div>
                  </div>

              </div>
                <div class="mt-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="toggle-section" data-toggle-target="#collapseTasks" style="cursor: pointer;">Tasks</h3>
                        </div>
                        <div class="col-auto">
                            <span class="badge bg-primary">{{ tasks.count }}</span>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'create_task' project.uuid %}" class="btn btn-success">Create task</a>
                        </div>
                    </div>
                </div>
<div class="collapse mt-3 show" id="collapseTasks">
    {% if tasks %}
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <b>
                            <span class="task-name">
                                <span class="badge bg-primary">{{ task.get_state_display }}</span> {{ task.name }}
                            </span>
                        </b>
                        <span class="assignee">
                            {% if task.assignee %}{{ task.assignee.email }}{% else %}Not Assigned{% endif %}
                        </span>
                    </div>
                    <div class="d-flex">
                        <div class="dropdown flex-grow-1">
                            <button class="btn btn-secondary btn-sm mx-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Change State
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for state in task.get_available_states %}
                                    <li>
                                        <form method="post" action="{% url 'change_task_state' task.uuid %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="new_state" value="{{ state }}">
                                            <button type="submit" class="dropdown-item w-100">{{ state }}</button>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="{% url 'view_task' task.uuid %}" class="btn btn-info btn-sm mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ task.description }}">Details</a>
                        <a href="{% url 'edit_task' task.uuid %}" class="btn btn-info btn-sm mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ task.description }}">Edit</a>
                        <a href="{% url 'delete_task' task.uuid %}" class="btn btn-danger btn-sm mx-1">Remove</a>
                        <span class="badge bg-primary">{{ task.story_points }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks yet for this project.</p>
    {% endif %}
</div>


            <!-- Users Section -->
                <div class="mt-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="toggle-section" data-toggle-target="#collapseUsers" style="cursor: pointer;">Users</h3>
                        </div>
                        <div class="col-auto">
                            <span class="badge bg-primary">{{ users_count }}</span>
                        </div>
                        <div class="col-auto">
                            {% if user in project.super_users.all %}
                                <a href="{% url 'create_invitation' project.uuid %}" class="btn btn-success">Invite user</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="collapse mt-3" id="collapseUsers">
                    {% if project.users.all or project.super_users.all %}
                        <ul class="list-group">
                            {% for user in project.super_users.all %}
                                <!-- Display super users with a "Super User" badge -->
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>{{ user.email }}
                                        <span class="badge bg-primary">Super User</span>
                                    </span>
                                </li>
                            {% endfor %}
                            {% for user in project.users.all %}
                                <!-- Display other users with appropriate badges -->
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>{{ user.email }}
                                {% if user in project.super_users.all %}
                                    <!-- Display "Super User" badge for users in super users list -->
                                    <span class="badge bg-primary">Super User</span>
                                {% else %}
                                    <!-- Display "Regular User" badge for regular users -->
                                    <span class="badge bg-secondary">Regular User</span>
                                </span>
                                {% endif %}
                                {% if user != request.user %}
                                    {% if request.user in project.super_users.all %}
                                        <a href="{% url 'unassign_user' project.uuid user.uuid %}" class="btn btn-danger btn-sm ml-2">Unassign</a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No users added</p>
                {% endif %}
            </div>

            <!-- Invitations Section -->
             {% if invitations %}
            <div class="mt-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="toggle-section" data-toggle-target="#collapseInvitations" style="cursor: pointer;">Pending invitations</h3>
                    <span class="badge bg-primary">{{ invitations.count }}</span>
                </div>
                <div class="collapse mt-3" id="collapseInvitations">
                    {% if invitations and user in project.super_users.all %}
                        <ul class="list-group">
                            {% for invitation in invitations %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>{{ invitation.target_user_email }}, sent on {{ invitation.date_created }}</span>
                                    {% if user in project.super_users.all %}
                                        <a href="{% url 'revoke_invitation' invitation.uuid %}" class="btn btn-danger btn-sm">Revoke</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
             {% endif %}

         </div>


      </div>

<script>
    // JavaScript to toggle the visibility of sections
    const toggleSections = document.querySelectorAll('.toggle-section');
    toggleSections.forEach(section => {
        section.addEventListener('click', function () {
            const target = this.getAttribute('data-toggle-target');
            const targetElement = document.querySelector(target);
            targetElement.classList.toggle('show');
        });
    });
</script>
{% endblock %}