{% extends 'base.html' %}
{% block title %}Your invitations{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1>List of invitations</h1>
                </div>
                {% if invitations %}
                    <ul class="list-group">
                        {% for invitation in invitations %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a href="#">{{ invitation.project.name }}</a>
                                        <p>Sent by: {{ invitation.created_by.email }}</p>
                                        <p>Date: {{ invitation.date_created }}</p>
                                    </div>
                                    <div>
                                        <a href="{% url 'accept_invitation' invitation.uuid %}" class="btn btn-success mr-2">Accept</a>
                                        <a href="{% url 'decline_invitation' invitation.uuid %}" class="btn btn-danger">Decline</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="d-flex justify-content-center align-items-center vh-100">
                        <div class="text-center mt-5">
                            <p>No invitations yet.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
