{% extends "base.html" %}

{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Login</h1>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            <!-- Email address field -->
            <label for="id_login">Email</label>
            <input id="id_login" name="login" class="form-control">
            <!-- Password field -->
            <label for="id_password">Password</label>
            <input id="id_password" name="password" type="password" class="form-control">
          </legend>
        </fieldset>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div class="container py-1"></div>
      <div class="border-top pt-2 text-center">
        <small class="text-muted">Don't have an account?
          <a class="ml-2" href="{% url 'register' %}">Register</a>
        </small>
        <br>
        {# Assumes you setup the password_reset view in your URLconf #}
        <small class="text-muted">Lost password?
          <a class="ml-2" href="{% url 'password_reset' %}"> Reset account</a>
        </small>
      </div>
    </div>
  </div>
</div>

{% endblock %}
