{% extends 'base.html' %} {% block title %}Home Page{% endblock %}
{% load static %}
{% block content %} {% for post in posts %}

<br>
<div class="card mt-2">
  <div class="card-header"><strong>@{{ post.author.username }}</strong></div>
  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      <h5 class="card-title">{{post.title}}</h5>
      <p>{{post.description}}</p>
    </div>
    <div>
      {% if user == post.author or perms.main.delete_post %}
      <form method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-danger"
          name="post-id"
          value="{{post.id}}"
        >
          Delete
        </button>
      </form>
      {% endif %}
      {% if user.is_staff %}
      <form method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-warning"
          name="user-id"
          value="{{post.author.id}}"
        >
          Ban User
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="card-footer text-muted">{{post.created_at}}</div>
</div>
{% empty %}
<br>
    <h3 style="text-align: center;">Welcome To <span id="W_Name1">Progem</span></h3>
    <p><span id="W_Name2">Progem</span> is a Professional <span id="W_Type1">project</span> Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of <span id="W_Type2">project</span>, with a focus on dependability and <span id="W_Spec">project management</span>. We're working to turn our passion for <span id="W_Type3">project</span> into a booming <a href="https://www.blogearns.com/2021/05/free-about-us-page-generator.html" rel="do-follow" style="color: inherit; text-decoration: none;">online website</a>. We hope you enjoy our <span id="W_Type4">project</span> as much as we enjoy offering them to you.</p>
<p>I will keep posting more important posts on my Website for all of you. Please give your support and love.</p>
<p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day!</span></p>
<p> User: {{user_email}} , you visited: {{ count }} time{{ count|pluralize }}</p>
{% endfor %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="{% static 'img.png' %}" class="img-fluid d-block mx-auto" alt="">
        </div>
    </div>
</div>
    

{% endblock %}